<?xml version="1.0"?>
<launch>
    
    <arg name="config_filename" default="$(find abrish)/config/waypoints_circle.yaml"/>
  
    <node pkg="dexrov_waypoint_navigator" type="dexrov_waypoint_navigator.py" name="dexrov_waypoint_navigator" output="screen" >
        <param name="config_filename" type="str" value="$(arg config_filename)" />
    </node>
    
</launch>
